@font-face {
    font-family: "Comfortaa";
    src: url(/src/comfortaa.ttf);
}

*{
        font-family: Comfortaa;
        color: black;
        --background-color:  rgb(125, 115, 255), rgb(118, 214, 255), rgb(116, 165, 255);
}
html{
    background: linear-gradient(right, var(--background-color));
    background: -o-linear-gradient(right, var(--background-color));
    background: -moz-linear-gradient(right, var(--background-color));
    background: -webkit-linear-gradient(right, var(--background-color));
    background-size: 1396px, 4096px;
}
div{
    text-align: center;
    font-size: large;
}
button{
    background-color: rgb(255, 255, 255);
    color: black;
    border: 2px ;
    border-color: rgb(206, 206, 206);
    border-radius: 10px;
    border-style: solid;
    width: 120px;
    height: 50px;
    z-index: 5;
    position: relative;
}
address{
    text-align: center;
}
#navbuttons{
    margin-top: -20px;
    position: relative;
    z-index: 2;
}
#navlayer{
    background-color: rgba(255, 255, 255, 0.644);
    width: 680px;
    height: 60px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    border-radius: 15px;
    margin-top: 20px;
    align-content: center;
    z-index: 1;
    position: relative;
}
#layer1{
    background-color: rgba(255, 255, 255, 0.644);
    width: 700px;
    height: 440px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    border-radius: 15px;
    margin-top: 20px;
    z-index: 1;
}
#layer2{
    background-color: rgb(255, 255, 255);
    width: 680px;
    height: 350px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    border-radius: 10px;
    z-index: 2;
    overflow-y: auto;
}
#langbutton{
    width: 120px;
    height: 20px;
}
#purpletext{
    color: purple;
}
.titleForPage{
    width: auto;
    background-color:rgb(255, 255, 255);
    margin-left: auto;
    margin-right: auto;
    border-radius: 20px;
    z-index: 3;
}
.titleForPart{
    width: 500px;
    background-color: rgb(229, 241, 255);
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    border-radius: 10px;
    z-index: 3;
}
.table_O_K{
    text-align: center;
    color: rgb(0, 0, 0);
    background-color: rgb(241, 241, 241);
    margin-left: auto;
    margin-right: auto;
    width: 300px;
    margin-top: 5px;
    margin-bottom: 5px;
    border: 2px;
    border-radius: 4px;
    border-style: solid;
    border-color: rgba(226, 226, 226, 0.705);
    z-index: 3;
}