@font-face {
    font-family: "Comfortaa";
    src: url(/src/comfortaa.ttf);
}

*{
        color: white;
        font-family: Comfortaa, monospace;
}
.titleForPage{
    background-color: rgb(56, 56, 56);
    text-align: center;
}
html{
    background-color: rgb(26, 26, 26);
}
h1{
    text-align: center;
}
div{
    text-align: center;
}
.titleForPart{
    background-color: rgb(34, 34, 34);
    text-align: center;
}
h2{
    text-align: center;
}
.table_O_K{
    text-align: center;
    background-color: rgb(23, 23, 23);
}
footer{
    text-align: center;
}
a{
}
address{
    text-align: center;
}