@font-face {
    font-family: "Comfortaa";
    src: url(/src/comfortaa.ttf);
}

*{
        font-family: Comfortaa;
        color: black;
        --background-color:  rgb(125, 115, 255), rgb(118, 214, 255), rgb(116, 165, 255);
        overflow: auto;
}
html{
    background: linear-gradient(right, var(--background-color));
    background: -o-linear-gradient(right, var(--background-color));
    background: -moz-linear-gradient(right, var(--background-color));
    background: -webkit-linear-gradient(right, var(--background-color));
    background-size: 1396px, 4096px;
}
#layer1{
    background-color: rgba(255, 255, 255, 0.24);
    width: 625;
    height: 395;
    margin-top: 200px;
}
#layer2{
    display: block;
    background-color: rgb(255, 255, 255);
    width: 585;
    height: 318;
}